{{template "base" .}}

{{define "content"}}
<main class="container">
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-half">
        <figure class="image">
          <img src="https://placehold.co/600x400" alt="room image">
        </figure>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h1 class="has-text-centered title">場地介紹</h1>
        <p class="block">場地介紹</p>
        <div class="has-text-centered">
          <a href="/" class="button is-primary">回首頁</a>
        </div>
      </div>
    </div>
  </section>
</main>
{{end}}