{{template "base" .}}

{{define "content"}}

    <div class="container">


        <div class="row">
            <div class="col">
                <img src="/static/images/court_1.png"
                     class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
            </div>
        </div>


        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">場地介紹</h1>
                <p>
                    場地介紹
                </p>
            </div>
        </div>


        <div class="row">

            <div class="col text-center">

                <a id="home-button" href="/" class="btn btn-success">回首頁</a>

            </div>
        </div>




    </div>

{{end}}


{{define "js"}}
<script>
   
</script>
{{end}}