{{template "base" .}}

{{define "content"}}
<main>
  <header>
    <div class="crsl">
      <div class="crsl__container">
        <div class="crsl__slide">
          <figure>
            <img src="/assets/images/court1.jpg" alt="Court pic">
            <figcaption>圖片介紹</figcaption>
          </figure>
        </div>
        <div class="crsl__slide">
          <figure>
            <img src="/assets/images/court2.jpg" alt="Court pic">
            <figcaption>圖片介紹</figcaption>
          </figure>
        </div>
        <div class="crsl__slide">
          <figure>
            <img src="/assets/images/court3.jpg" alt="Court pic">
            <figcaption>圖片介紹</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </header>

  <div class="section">
	<section class="container">
      <h1 class="title has-text-centered">普那羽球運動會館</h1>
      <p class="block">
        羽球球場出租
        羽球訓練、運動服務
        瑜珈有氧、韻律教室的服務
        健身房教室的服務
        個人化教學
        運動休閒用品展銷
      </p>
      <div class="block has-text-centered"><a href="/search-availability" class="button is-success">場地預定</a></div>
	</section>
  </div>
</main>
{{end}}

{{define "js"}}
<script src="/assets/js/home.js"></script>
{{end}}