{{template "base" .}}

{{define "content"}}
<main class="container">
  <section class="section is-large">
    <div class="columns is-centered">
      <div class="column is-half">

        <h1 class="title has-text-centered">場地預約</h1>

        <div class="card">
          <div class="card-content">
            <form id="availability-search">
              <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

              <div class="field">
                <label class="label" for="reservation-date">日期</label>
                <div class="control">
                  <input
                      class="input"
                      type="text"
                      placeholder="選擇日期"
                      name="date"
                      id="reservation-date"
                      required
                      autocomplete="off"
                      readonly
                      inputmode="none"
                    />
                </div>
              </div>

              <!-- start time -->
              <div class="field">
                <label class="label" for="start-hour">開始時間</label>
                <div class="control">
                  <div class="select">
                    <select name="start_hour" id="start-hour" required>
                      <option value="" disabled selected hidden>選擇開始時間</option>
                      {{range $h := .Hours}}
                      <option value="{{$h.Value}}">{{$h.Label}}</option>
                      {{end}}
                    </select>
                  </div>
                </div>
              </div>

              <!-- end time -->
              <div class="field">
                <label class="label" for="end-hour">結束時間</label>
                <div class="control">
                  <div class="select">
                    <select name="end_hour" id="end-hour" required disabled>
                      <option value="" disabled selected hidden>選擇結束時間</option>
                      {{range $h := .Hours}}
                      <option value="{{$h.Value}}">{{$h.Label}}</option>
                      {{end}}
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <button class="button is-link" type="submit">確定</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>
{{end}}

{{define "js"}}
<script src="/assets/js/search-availability.js"></script>
{{end}}
